.comment {
  padding: 10px 0;
  margin-bottom: 5px;
}

.header {
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.responses {
  width: 95%;
  margin-top: 5px;
  margin-left: auto;
}
