.article {
  padding-top: 20px;
}

.heading {
  font-size: 40px;

  @media (max-width: 1024px) {
    font-size: 30px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  & > * {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    & > * {
      margin-bottom: 15px;
    }
  }
}